﻿@{
    ViewBag.Title = "Home Page";
}


<div class="bg-white"><p></p></div>


<!--  =======THONG KE COVID========  -->


<div class="container">
    <div class="row con">
        <div class="col-md-8 radius bg-yellow text-cl-yellow">
            @Html.Action("DichBenh", "DichBenh")
            @*<div class="col-md-6 float-left">
            <div class="padding-all">
                <h4 class="text-center"> Việt Nam</h4>
                <hr />
                <p>Số ca mắc: </p>
                <p>Đã khỏi: </p>
                <p>Tử vong: </p>
                <p class="text-center">Ngày cập nhập:</p>
            </div>
        </div>*@

        </div>
        <div class="col-md-4">
            <div class="bg-blue text-cl-blue radius">
                <div class="padding-all">
                    <h4><i class="fas fa-bell"></i> Thông báo!</h4>
                    <p>Thủ thướng chính phủ thông báo, cả nước chung tay chống dịch Covid-19</p>
                    <p>Thủ thướng chính phủ thông báo, cả nước chung tay chống dịch Covid-19</p>
                    <p>Thủ thướng chính phủ thông báo, cả nước chung tay chống dịch Covid-19</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div><br /> <p class=""></p><br /></div>



<!--  =======*******========  -->
<!--  =======REVIEW========  -->

<div class="container bg-body-light">
    <div class="row">
        <div class="col-lg-6 pr-0 no-padding-left">
            <div class="about_img">
                <img class="img-fluid w-100" src="~/Content/ao-y-ta-dieu-duong-mau-4-300x450.jpg" alt="">
            </div>
        </div>

        <div class="col-lg-6 pl-0 text-center">
            <div class="about_box">
                <div class="section-title-wrap text-center">
                    <br /> <br />
                    <h1>Giới thiệu</h1>
                    <p class="col-md-11">
                        Xây dựng theo quy chuẩn phòng khám quốc tế, chúng tôi còn là địa chỉ uy tín cung cấp các dịch vụ khám và điều trị chất lượng cao,
                        hướng tới mục tiêu trở thành phòng khám đa khoa chữa bệnh trên cả nước.
                    </p>
                    <br />
                </div>

                <div class="activity text-left">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 ">
                            <br />
                            <div class="activity_box center col-md-8 bg-white border-riview">
                                <br />
                                <div>
                                    <i class="fas fa-database icon-review"></i>
                                </div>
                                <h3>$<span class="counter">2.5</span> M</h3>
                                <p>Tổng đóng góp</p>
                                <br />
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <br />
                            <div class="activity_box center col-md-8 bg-white border-riview">
                                <br />
                                <div>
                                    <i class="fas fa-book icon-review"></i>
                                </div>
                                <h3 class="counter">1465</h3>
                                <p>Tổng số dự án</p>
                                <br />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <br />
                            <div class="activity_box center col-md-8 bg-white border-riview">
                                <br />
                                <div>
                                    <i class="fas fa-user-tie icon-review"></i>
                                </div>
                                <h3 class="counter">3965</h3>
                                <p>Tổng số tình nguyện viên</p>
                                <br />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <br />
                            <div class="activity_box center col-md-8 bg-white border-riview">
                                <br />
                                <div>
                                    <i class="fas fa-user-graduate icon-review"></i>
                                </div>
                                <h3 class="counter">395</h3>
                                <p>Tổng số giáo sư, tiến sĩ</p>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div><br /> <p class=""></p><br /><br /><br /></div>

<!--  =======*******========  -->
<!--  =======DICH VU========  -->

<div class="bg-body-light">
    <br />
    <br />
    <br /><br />
    <br />
    <div class="container">
        <div class="row text-center ">
            <div class="col-lg-12">
                <h1>Dịch vụ được cung cấp bởi chúng tôi</h1>
                <br />
                <br />
            </div>
            <br /><br />
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="single_service">
                    <p class="text-center icon"><i class="fas fa-first-aid text-warning"></i></p>
                    <h5 class="text-body">Cấp cứu 24/7</h5>
                    <p>
                        Phòng khám luôn chú trọng đầu tư về cơ sở vật chất, trang thiết bị y tế tiên tiến hiện đại đầy đủ các phòng ban chuyên khoa.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="single_service">
                    <p class="text-center icon">
                        <i class="fas fa-user-tie"></i>
                    </p>
                    <h5 class="text-body">Chuyên gia tư vấn</h5>
                    <p>
                        Các bác sĩ chuyên khoa tại Phòng khám là những thạc sĩ, bác sĩ có trình độ chuyên môn cao, y đức luôn đặt lên hàng đầu.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="single_service">
                    <p class="text-center icon"><i class="fas fa-heartbeat  text-danger"></i></p>
                    <h5 class="text-body">Sự quan tâm sâu sắc</h5>
                    <p>
                        Đội ngũ nhân viên thân thiện, phục vụ chuyên nghiệp luôn lắng nghe và giải đáp tường tận những thắc mắc của bệnh nhân.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="single_service">
                    <p class="text-center icon"><i class="fas fa-users text-success"></i></p>
                    <h5 class="text-body">Kế hoạch hóa gia đình</h5>
                    <p>
                        Kế hoạch hoá gia đình thỉnh thoảng được sử dụng như một thuật ngữ đồng nghĩa với kiểm soát sinh sản, dù nó thường có nội hàm lớn hơn.
                    </p>
                </div>
            </div>
        </div>
        <br /><br /><br /><br /><br />
    </div>
</div>

<!--  =======*********========  -->
<!--  =======BLOG========  -->
<div>
    <br /><br /><br /><br />
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h1>Tin tức trong tuần</h1>
               
            </div>
        </div>
        <br /><br /><br /><br />
        <div class="row">
            @Html.Action("PartialTinTuc", "Partial")

        </div>
        <br /><br /><br /><br />
    </div>
</div>

<!--  =======**********========  -->

<style>
    .pd-top-bot {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .bg-body-light {
        background-color: #F9F9FF;
    }

    .border-riview {
        border-radius: 0.3em;
        border: 0.6px solid #F5F5F5;
    }

    a {
        color: black;
    }

    .icon-review {
        font-size: 1.5em;
        color: #64B1E5;
        padding-bottom: 0.5em;
    }
</style>
