
    <style>
        .cauhoi {
            padding-top: 1em;
            margin-top: 1em;
            border-radius: 0.5em;
            border: 0.5px solid #CCCCCC;
        }
    </style>
@foreach (var i in Model)
{
<div class="cauhoi">
    <div class="row">
        <div class="col-md-8">
            <p class="font-weight-bold" style="padding-left:1em;">@i.CauHoi</p>
        </div>
        <div class="col-md-2">
            @i.NgayHoi
        </div>
        @{
            if (i.TrangThai == 0)
            {
                <div class="col-md-2">
                    <h6>Đang chờ xử lý</h6>
                </div>
            }
            else
            {
                <div class="col-md-2">
                    <h6> Hoàn thành </h6>
                </div>
            }
        }

    </div>
    <hr />
    <div style="padding-left:1em;">
        @i.TraLoi
    </div>
</div>
}
